<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/css/lecture-style.css">
</head>
<body>
<button class="home-btn"
        style="width: 8%;"
        th:onclick="|window.location.href='/members/member-home?memberId=${memberId}'|">
    <i class="fas fa-house"></i>
</button>
<section class="home-grid">
    <h1 class="heading">Lecture</h1>

    <div class="box-container">
        <header class="header">
            <div class="box">
                <h3 class="title">Lecture List</h3>

                <div class="flex">
<!--                    show all lecture-->
                    <a th:each="lec : ${lectures}"
                       th:href="@{|/lectures/edit?lectureId=${lec.id}&memberId=${memberId}|}"
                       class="lecture-card">
                        <i class="fa-solid fa-book"></i>
                        <span>
                            <strong th:text="${lec.title}">Lecture Title</strong><br>
                            <small th:text="${lec.content}">Lecture Content</small>
                        </span>
                    </a>
                </div>

                <h3>If you want to add more lectures, please press the button down below.</h3>
                <br>
                <button th:onclick="|window.location.href='/lectures/new?memberId=${memberId}'|">
                    Add Lecture
                </button>
            </div>
            <button th:onclick="|window.location.href='/members/member-home?memberId=${memberId}'|">
                Back to Member Home
            </button>
        </header>
    </div>
</section>

</body>

</html>



<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>My Lectures</title>-->

<!--  &lt;!&ndash; font awesome cdn link &ndash;&gt;-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">-->

<!--  &lt;!&ndash; custom css file link &ndash;&gt;-->
<!--  <link rel="stylesheet" href="/css/lecture-style.css">-->
<!--</head>-->

<!--<body>-->

<!--&lt;!&ndash; Back to Home Button &ndash;&gt;-->
<!--<button class="home-btn" onclick="window.location.href='../../homepage_folder/home.html'">-->
<!--  <i class="fas fa-house"></i>-->
<!--</button>-->

<!--<section class="home-grid">-->
<!--  <h1 class="heading">My Lecture</h1>-->

<!--  <div class="box-container">-->
<!--    <header class="header">-->
<!--      <div class="box">-->
<!--        <h3 class="title">Lecture List</h3>-->

<!--        <div class="flex">-->
<!--          &lt;!&ndash; Dynamically loop through all lectures &ndash;&gt;-->
<!--          <div th:each="lec : ${lectures}" class="lecture-card">-->
<!--            &lt;!&ndash; Lecture info &ndash;&gt;-->
<!--            <i class="fa-solid fa-book"></i>-->
<!--            <span>-->
<!--              <strong th:text="${lec.title}">Lecture Title</strong><br>-->
<!--              <small th:text="${lec.content}">Lecture Content</small>-->
<!--            </span>-->

<!--&lt;!&ndash;            &lt;!&ndash; Hover buttons &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="action-buttons">&ndash;&gt;-->
<!--&lt;!&ndash;              <button class="edit-btn"&ndash;&gt;-->
<!--&lt;!&ndash;                      th:onclick="'window.location.href=\'/lectures/edit?lectureId=' + ${lec.id} + '\';'">&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="fa-solid fa-pen-to-square"></i>&ndash;&gt;-->
<!--&lt;!&ndash;              </button>&ndash;&gt;-->

<!--&lt;!&ndash;              <form th:action="@{'/lectures/' + ${lec.id} + '/delete'}" method="post" style="display:inline;">&ndash;&gt;-->
<!--&lt;!&ndash;                <button type="submit" class="delete-btn"&ndash;&gt;-->
<!--&lt;!&ndash;                        onclick="return confirm('Are you sure you want to delete this lecture?');">&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fa-solid fa-trash"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                </button>&ndash;&gt;-->
<!--&lt;!&ndash;              </form>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->


<!--          </div>-->
<!--        </div>-->

<!--        <h3>If you want to add more lectures please press the button down below..</h3>-->
<!--        <br>-->
<!--        <button onclick="window.location.href='/lectures/new'">Add Lecture</button>-->
<!--      </div>-->

<!--      &lt;!&ndash; Back Button &ndash;&gt;-->
<!--      <button class="back-btn" onclick="window.location.href='/'">-->
<!--        <i class="fa-solid fa-arrow-left"></i> Back-->
<!--      </button>-->
<!--    </header>-->
<!--  </div>-->
<!--</section>-->

<!--</body>-->
<!--</html>-->
















<!--<!DOCTYPE >-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>courses</title>-->

<!--  &lt;!&ndash; font awesome cdn link  &ndash;&gt;-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">-->

<!--  &lt;!&ndash; custom css file link  &ndash;&gt;-->
<!--  <link rel="stylesheet" href="/css/lecture-style.css">-->

<!--</head>-->
<!--&lt;!&ndash; Back to Home Button &ndash;&gt;-->
<!--<button class="home-btn" onclick="window.location.href='../../homepage_folder/home.html'">-->
<!--  <i class="fas fa-house"></i>-->
<!--</button>-->
<!--<body>-->

<!--<section class="home-grid">-->
<!--  <h1 class="heading">My Lecture</h1>-->

<!--  <div class="box-container">-->
<!--    <header class="header">-->
<!--      <div class="box">-->
<!--        <h3 class="title">Lecture List</h3>-->

<!--        <div class="flex">-->
<!--          &lt;!&ndash; Dynamically loop through all lectures &ndash;&gt;-->
<!--          <a th:each="lec : ${lectures}"-->
<!--             th:href="@{'/lectures/edit'(lectureId=${lec.id})}"-->
<!--             class="lecture-card">-->
<!--            <i class="fa-solid fa-book"></i>-->
<!--            <span>-->
<!--              <strong th:text="${lec.title}">Lecture Title</strong><br>-->
<!--              <small th:text="${lec.content}">Lecture Content</small>-->

<!--            </span>-->

<!--          </a>-->
<!--        </div>-->

<!--        <h3>If you want to add more lectures please press the button down below..</h3>-->
<!--        <br>-->
<!--        <button onclick="window.location.href='/lectures/new'">Add Lecture</button>-->
<!--      </div>-->

<!--      &lt;!&ndash; Back Button &ndash;&gt;-->
<!--      <button class="back-btn" onclick="window.location.href='/'">-->
<!--        <i class="fa-solid fa-arrow-left"></i> Back-->
<!--      </button>-->
<!--    </header>-->
<!--  </div>-->
<!--</section>-->
<!--</body>-->
<!--</html>-->











<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>courses</title>-->

<!--  &lt;!&ndash; font awesome cdn link  &ndash;&gt;-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">-->

<!--  &lt;!&ndash; custom css file link  &ndash;&gt;-->
<!--  <link rel="stylesheet" href="/css/lecture-style.css">-->

<!--</head>-->
<!--<body>-->
<!--<section class="home-grid">-->

<!--  <h1 class="heading">My courses</h1>-->

<!--  <div class="box-container">-->

<!--    <header class="header">-->

<!--      <div class="box">-->
<!--        <h3 class="title">Choose your course:</h3>-->
<!--        <div class="flex">-->
<!--          <a href="#"><i class="fab fa-html5"></i><span>HTML</span></a>-->
<!--          <a href="#"><i class="fab fa-css3"></i><span>CSS</span></a>-->
<!--          <a href="#"><i class="fab fa-js"></i><span>javascript</span></a>-->
<!--          <a href="#"><i class="fab fa-react"></i><span>react</span></a>-->
<!--          <a href="#"><i class="fab fa-php"></i><span>PHP</span></a>-->
<!--          <a href="#"><i class="fab fa-bootstrap"></i><span>bootstrap</span></a>-->

<!--        </div>-->

<!--        <h3 >If you want to add more courses please press the button down below..</h3>-->
<!--        <br><button onclick="window.location.href='courses.html'">Add course</button>-->

<!--      </div>-->
<!--</section>-->
<!--&lt;!&ndash; custom js file link  &ndash;&gt;-->
<!--<script src="homepage_js.js"></script>-->


<!--</body>-->
<!--</html>-->




<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <title>Lecture List</title>-->
<!--  <meta charset="UTF-8"/>-->
<!--</head>-->
<!--<body>-->
<!--<h1>All Lectures</h1>-->

<!--&lt;!&ndash; Link to add new lecture &ndash;&gt;-->
<!--<a href="/lectures/new"> Add New Lecture</a>-->

<!--&lt;!&ndash; Show lectures &ndash;&gt;-->
<!--<table border="1" cellpadding="8">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>Title</th>-->
<!--    <th>Content</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr th:each="lec : ${lectures}">-->
<!--    <td th:text="${lec.title}"></td>-->
<!--    <td th:text="${lec.content}"></td>-->
<!--    <td>-->
<!--      <a th:href="@{'/lectures/edit'(lectureId=${lec.id})}">Edit</a>-->
<!--    </td>-->
<!--  </tr>-->
<!--  </tbody>-->

<!--</table>-->
<!--<br>-->

<!--<a th:href="@{/}">Back to Home</a>-->
<!--<br>-->

<!--</body>-->
<!--</html>-->
